//Color
$primary: #2c61d7;
$secondary: #35b6c8;
$dark: #0d0f14;
$danger: #f03e3e;
$gray: #adb5bd;
$gradient: linear-gradient(270.17deg, #2d6dd5 1.37%, #35b5c8 99.86%);
$text-muted: #adb5bd;
$nav-link-color : $dark;