<div class="modal d-flex" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmation of Delete</h4>
          
        </div>
        <div class="modal-body">
          <p>Are you sure you want to Delete{{name}} ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cancleData()">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="confirmData()">Delete</button>
        </div>
      </div>
    </div>
  </div>
